.calculator-logs {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  background: whitesmoke;
  box-sizing: border-box;
  border: 1px solid black;
  border-top: 2px solid black;
  border-radius: 8px;

  .logs {
    margin: 0;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    user-select: none;
  }

  .logs-info {
    margin-left: 5px;
    font-weight: bold;
    font-size: 14px;
    user-select: none;
    color: yellowgreen;
  }

  .result-text {
    margin-left: 5px;
    font-weight: bolder;
    font-size: 20px;
    color: #e040fb ;
  }
}
