.calculator-logs {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    background: whitesmoke;
    box-sizing: border-box;
    border: 1px solid black;
    border-top: 2px solid black;
    border-radius: 8px;
}

.logs {
    margin: 0;
    margin-left: 5px;
    font-weight: bold;
}