.calculator-buttons {
  width: 102%;
  height: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
}

.number {
  width: 33.3%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 25px;
  font-weight: bold;
  transition: 0.8s;
  background: whitesmoke;

  &:hover {
    background: #827717;
  }
}

.one {
  border-top-left-radius: 8px;
}

.three {
  border-top-right-radius: 8px;
}

.zero {
  width: 66.6%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 8px;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 25px;
  font-weight: bold;
  transition: 0.8s;
  background: whitesmoke;

  &:hover {
    background: #827717;
  }
}

.dot {
  width: 33.3%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  border-bottom: 2px solid black;
  border-bottom-right-radius: 8px;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 25px;
  font-weight: bold;
  transition: 0.8s;
  background: whitesmoke;

  &:hover {
    background: #827717;
  }
}

.click {
  animation-name: number-click;
  animation-duration: 0.115s;
  animation-timing-function: linear;
}

@keyframes number-click {
  0% {
    box-shadow: inset 1px 1px 0 0 white;
    background: #827717;
  }
  50% {
    box-shadow: inset 1px 1px 30px 0 yellow;
    background: goldenrod;
  }
  100% {
    box-shadow: inset 1px 1px 0 0 white;
    background: #827717;
  }
}
